@model PosterShop.Shops

@{
    ViewData["Title"] = "Html.DisplayFor(model => model.Address)";
}

    <h1>Магазин по адресу @Html.DisplayFor(model => model.Address)</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worktime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worktime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Удалить</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
