@model PosterShop.Posters

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Posters</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.Name)
        </dd>
    </dl>
    <script type="text/javascript">
       // elem.onclick = function() {
   // location.href="/Posters/Index/@Html.DisplayFor(model => model.TopicId)?";
        // onclick='location.href="/Posters/Index/@Html.DisplayFor(model => model.TopicId)?"'
 // };
    </script>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger"/> |
        <a href="/Posters/Index/@Html.DisplayFor(model => model.TopicId)?">Назад к списку</a>

    </form>

</div>
